.container{
    min-width: 1160px;
}
.content{
height: 525px;
width: 800px;
float:left;
position: relative;
}
.players, .chat{
    margin-bottom: 8px;
    height: 265px;
    width: 300px;
    margin-left: 20px;
    float: left;
}
.player{
    box-sizing: border-box;
    border:1px solid #333;
    border-radius: 12px;
    width: 25px;
    height: 25px;
    margin:0;
    padding:0;
    position:absolute;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.snakeNo1{background: #2d882d;}
.snakeNo2{background: #b4ddb4;}
.snakeNo3{background: #d2ff52;}
.snakeNo4{background: #1c598e;}
.snakeNo5{background: #b7deed;}
.snakeNo6{background: #f85032;}
.snakeNo7{background: #76276c;}
.snakeNo8{background: #3200d4;}
.snakeNo9{background: #959595;}
.snakeNo10{background: #91053f;}
.snakeNo11{background: #0625ad;}
.snakeNo12{background: #aebcbf;}
.snakeHead{background-color: transparent;}
.myHead{background-color: yellow;}
.bug{
    border-radius:12px;
    background-color: coral;
    box-sizing: border-box;
    border:1px solid #333;
    position:absolute;
    width: 25px;
    height: 25px;
    margin:0;
    padding:0;   
}
.playersListView{
   height:150px;
   overflow-y: auto;
}
.game-matching{
    position: absolute;
    width: 225px;
    height: 150px;
    left:285px;
    top:100px;
    z-index: 1;
    padding:10px;
}
.matched{
    width:100%;
    position:relative;
    margin:5px auto 0 auto;
    height:40px;
    padding:0;
}
.player-matched{
    width: 38px;
    height: 38px;
    float: left;
    margin:0;
    margin-left:2px;
    padding:0;
    cursor: pointer;
}
.player-matched{
    font-size: 30px;
    color:grey;
    margin-top:0;
    padding-top:0;
    padding-left:7px;
}
.tooltip.player-tooltip .tooltip-inner{
    font-weight: bold;
}
.player-matched:nth-child(1){
    margin-left: 1px;
}
#progress{
    margin:5px 0;
    height: 8px;
    width: 100%;
    border:solid 1px #BBB;
}
.custom-progress-bar{
    background-color: cornflowerblue;
    height: 6px;
    width: 0%;
    -webkit-transition: all 1.2s linear;
    -moz-transition: all 1.2s linear;
    -o-transition: all 1.2s linear;
    transition: all 1.2s linear;
}
.game-end{
    position: absolute;
    height: 200px;
    width: 500px;
    left:137px;
    top:150px;
    background-color: rgba(255,255,255,0.9);
    z-index: 9999;
}
.big-satus {
    padding-top: 15px;
    font-size: 60px;
    text-align: center;
}
